.nav-main-container {
    position: fixed;  //
    top: 0;           // dzięki temu nachodzi na banner
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1.5rem;

    height: 70px;
    background-color: $main-app-color;
    z-index: 1;
}

.nav-logo {

    font-size: 2.2rem;
    font-style: italic;

    span {
        background: -webkit-linear-gradient(233.25deg,#5b4df6,#ff493b);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.nav-left-icons {
    display: flex;
}

.nav-left-icon {
    margin-left: 1rem;
}

.nav-right-icons {
    display: flex;
}

.nav-btn-search {
    margin-right: 1rem;
}

.nav-hello {
    margin-right: 1rem;
}