.modal-container {
    display: flex;
    //padding: 10px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and (max-width: 812px) {
        flex-direction: column;
        justify-content: space-between;
    }
}

.modal-img-upright {
    object-fit: contain;

    @media screen and (max-width: 812px) {
        object-fit: contain;
        display: none;
    }
}

.modal-img-horizontally {
    object-fit: contain;
    display: none;

    @media screen and (max-width: 812px) {
        object-fit: contain;
        display: inherit;
    }
}

.modal-no-image-upright {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-image: linear-gradient(to bottom right,#5b4df6,#ff493b);

    p {
        margin: 30px 45px;
        text-align: center;
    }
    h2 {
        margin-bottom: 20px;
        margin-left: 110px;
        margin-right: 110px;
    }
    @media screen and (max-width: 812px) {
        display: none;
    }
}

.modal-no-image-horizontally {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-image: linear-gradient(to bottom right, #5b4df6,#ff493b);
    display: none;

    p {
        margin: 20px 15px;
        text-align: center;
    }
    h2 {
        margin-bottom: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
    @media screen and (max-width: 812px) {
        display: inherit;
    }
}

.modal-main-content {
    margin: 0 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 812px) {
        margin: 0;
    }
}

.modal-main-title {
    margin-bottom: 20px;
    font-size: 2vw;
    line-height: 4.5vh;

    @media screen and (max-width: 812px) { 
        margin-bottom: 8px;
        margin-top: 8px;
        line-height: 20px;
        font-size: 15px;
    }
}

.modal-year {
    font-weight: 400;
    font-size: 1.15vw;

    @media screen and (max-width: 812px) { 
        font-size: 10px;
    }
}

.modal-year-type {
    color: rgb(220, 20, 110);
    padding: 0;
    font-weight: 600; 
}

.modal-year-genres {
    padding-left: 15px;
    font-style: italic;
    font-weight: 700;
    background: -webkit-linear-gradient(233.25deg,#5b4df6,#ff493b);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.modal-votes {
    font-weight: 400;
    margin-top: 10px;
    font-size: 1vw;
    span {
        font-weight: 700;
        background: -webkit-linear-gradient(233.25deg,#5b4df6,#ff493b);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    @media screen and (max-width: 812px) { 
        margin-top: 5px;
        font-size: 8px;
    }
}

.modal-description-container {
    background-color: $backgroundcolor-btns-navbar;
    margin: 10px 0;
    border-radius: 15px;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and (max-width: 812px) {
        border-radius: 10px;
        margin-bottom: 15px;
    }
}

.modal-description {
    font-weight: 400;
    padding: 20px 18px;
    text-align: justify;
    font-size: 0.95vw;

    @media screen and (max-width: 812px) {
        padding: 10px 8px;
        font-size: 8px;
    }
}

// .modal-yt-btn {
//     bottom: 0;
// }


