
.footer {
    height: 300px;
    width: 100vw;

    display: flex;
    
}

.footer-logos {
    //display: flex;
}

.footer-logo-TMDB {
    fill: url(#MyGradient);
}

// .footer-copyright {

// }

// .footer-socialIcons {

// }