//$my-color: orange;

.home-main-container {
    max-width: 1700px;
    min-width: 1000px;
    height: 100%;
    // background-image: url('../89962db5e39bda0d53e10bfb6366efb1.png');
    // background-size: cover;
    // background-position: top;
    // background-repeat: no-repeat;
    
}

// h1 {
//   color: $my-color;
// }