.mylist {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mylist-lettering {
    width: 90%;
    text-align: center;
    padding-top: 150px;
    border: 1px solid red;
    h2 {
        padding-bottom: 30px;
        font-weight: 400;
    }
}
