.row-container {
    width: 100%;
    padding-top: 0.7rem;
}

.row-title {
    text-shadow: 1px 1px 2px black;
    margin-left: 10px;

    @media only screen and (width > 420px) and (width <= 645px) {
        font-size: 1.2rem;
    }

    @media screen and (width <= 420px) {
        font-size: 1rem;
    }
}








