.search-main {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    margin-top: 170px;
}

.search-input {
   width: 100%;
   height: 170px;
   //padding-top: 20px;
   margin-bottom: 40px;

    input {
        width: 30%;
        height: 68px;
        margin-left: 20px;

        padding: 10px 0;
        box-sizing: border-box;

        border: none;
        border-bottom: 2px solid white;
        background-color: $main-app-color;

        font-size: 35px;
        line-height: 50px;
        font-family: 'Poppins', sans-serif;
        color: whitesmoke;

        transition: width 0.8s ease-in-out;
    }

    input:focus {
        width: 92%;
        outline: none;
        border-bottom: 2px solid white;
    }
    input:active {
        width: 92%;
        outline: none;
        border-bottom: 2px solid white;
    }
}

.search-results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    //margin-right: 35px;
}

.search-empty-results {
    margin-bottom: 30px;
}

// input:-internal-autofill-selected {
//     appearance: none;
//     background-color: #27282b !important;
//     background-image: none !important;
//     color: whitesmoke !important;
// }