.row-posters {
    width: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 25px 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

.scroll-moz {
    scrollbar-width: none;
}

//div with image and hover
.row-poster {
    object-fit: contain;
    
    height: 183px;
    max-width: 100%;
    
    transition: transform 450ms;

    border-radius: 12px;

    margin-right: 9px;
    margin-left: 9px;

    overflow: hidden;
    position: relative;  //!!!!!!!!!!!!!!!!!!!

    &:hover {
        transform: scale(1.06);
    }
}

//div with image and hover
.row-posterLarge {
    height: 475px;
    border-radius: 20px;

    margin-right: 13px;
    margin-left: 13px;
    overflow: hidden;
    position: relative;  //!!!!!!!!!!!!!!!!!!!

    &:hover {
        transform: scale(1.09);
    }
}

.single-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.single-imageLarge {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

//div with hoverem
.single-image-hover {
    width: 100%;
    height: 100%;
    top: -100%;
    right: 0;
    left: 0;
    position: absolute;
    background: rgba(26, 42, 78, 0.668);
    backdrop-filter: blur(2px);
    border-radius: 12px;
    transition: 1s;

    padding: 10px;
    display: flex;
    flex-direction: column;
}

//div with hoverem
.single-image-hoverLarge {
    width: 100%;
    height: 100%;
    top: -100%;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background: rgba(26, 42, 78, 0.668);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    transition: 1;

    padding: 17px;
    display: flex;
    flex-direction: column;
}

.row-poster:hover .single-image-hover {
    top: 0;
}

//styles for hover
.image-hover-title {
    margin-bottom: 7px;
    line-height: 20px;
}

.image-hover-type-date {
    font-size: 12px;

    span {
        font-style: italic;
        font-weight: 700;
        color: rgb(220, 20, 110);
    }
}

.image-hover-overview {
    font-weight: 400;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
}

.single-hover-overviewLarge {
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: justify;
}

.btn-div-hover {
    display: flex;
    justify-content: center;
}

.image-hover-btn {
    @include btnsSecondary();

    &:disabled {
        background-color: $btn-disabled-backgroundcolor;
        //rgba(148, 146, 146, 0.716)
    }
}

.single-img-btn-three {
    margin-left: 20px;
    margin-right: 5px;
}
