@import "generic/_reset.scss";

@import './settings/colors';
@import './elements/home';
@import './elements/barNavigation';
@import './elements/row';
@import './elements/banner';
@import './elements/search';
@import './elements/footer';
@import './elements/myList';
@import './elements/singleImageInRow';



#root {
  width: 100vw;
  margin: 0 auto;
 // padding: 2rem;
 //text-align: center;
  background-color: $main-app-color;
  //background-color: #111;

}








// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.react:hover {
//   filter: drop-shadow(0 0 2em #61dafbaa);
// }

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }


