@import "generic/_reset.scss";

@import './settings/colors';
@import './settings/buttons';
@import './elements/home';
@import './elements/barNavigation';
@import './elements/row';
@import './elements/banner';
@import './elements/search';
@import './elements/footer';
@import './elements/myList';
@import './elements/singleImageInRow';
@import './elements/singleCardSearch';
@import './elements/contentModal';
@import './elements/modalCredits';


#root {
  width: 100vw;
  margin: 0 auto;
  background-color: $main-app-color;
}
