
body {
    margin: 0;
    //display: flex;
    //place-items: center;
    min-width: 320px;
    min-height: 100vh;
    max-width: 100vw;
    background-color: #27282b;
    overflow-x: hidden;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
  }

